<div class="container">
  <h1>Ingredients for <em>"<%= @recipe.name %>"</em></h1>
    <ul>
      <% @recipe_ingredients.each do |r| %>
        <% if r.recipe_id == @recipe.id %>
          <li><%= r.ingredient.name %>: <%= r.ingredient_amount %>g </li>
        <% end %>
      <% end %>
    </ul>

<h3>Please select ingredients to add to your recipe:</h3>

<%= simple_form_for [ @recipe, @recipe_ingredient ] do |f| %>
 <%= f.input :ingredient_id, collection: Ingredient.all %>

 <%= f.input :ingredient_amount, as: :decimal %>

 <%= f.submit 'Add Ingredient', class: "btn-pka" %>
<% end %>

<br>
<%= link_to "Done", recipe_path(@recipe), class: "btn-pka-2" %>
</div>
