
<h1>hello from the recipe ingredient creator page!</h1>

<ul>
<h3>list of ingredients for <%= @recipe.name %>:</h3>

<% @recipe_ingredients.each do |r| %>
<% if r.recipe_id == @recipe.id %>

 <li> <%= r.ingredient.name %>: <%= r.ingredient_amount %>g </li>
  <% end %>
<% end %>
</ul>
<h3>Add Ingredients to your recipe:</h3>

<%= simple_form_for [ @recipe, @recipe_ingredient ] do |f| %>
 <%= f.input :ingredient_id, collection: Ingredient.all %>

 <%= f.input :ingredient_amount, as: :decimal %>

 <%= f.submit 'Add Ingredient', class: "btn-pka" %>
<% end %>
