<%= javascript_pack_tag 'select2', 'data-turbolinks-track': 'reload', defer: true %>

<div class="main-form-container">
  <h1>Add Ingredients for <em>"<%= @recipe.name %>"</em></h1>

  <div class="recipe-line"></div>

  <div class="inline-recipe-container">
    <%= image_tag "chef.svg", class:"recipe-form-image" %>

    <div class="form-container">
      <div class="ingredient-form">
        <h4>Please select ingredients to add to your recipe:</h4>
        <%= simple_form_for [ @recipe, @recipe_ingredient ] do |f| %>
          <%= f.input :ingredient_id, collection: Ingredient.all.sort_by(&:name).uniq(&:name), input_html: {class: "drodpwon"} %>

          <%= f.input :ingredient_amount, as: :decimal, input_html: { min: '0', step: 'any' }  %>
          <div class="btn-container">
            <%= f.submit 'Add Ingredient', class: "btn-pka ingredient-btn" %>
          </div>
        <% end %>

        <%= link_to "Add Recipe", recipe_path(@recipe), class: "btn-pka-2 submit-ingredient-btn" %>
      </div>

      <div class="ingredient-list">
        <h4>Ingredients:</h4>
        <ul>
          <% @recipe_ingredients.each do |r| %>
            <% if r.recipe_id == @recipe.id %>
              <li><%= r.ingredient_amount %>g <%= r.ingredient.name %> </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

</div>
