<div class="title-container">
  <i><h1 class="dashboard-title"> <%= (current_user.name).capitalize %>'s Dashboard </h1></i>
  <br>
  <h2><strong>Your Restaurant: </strong><%= link_to "#{current_user.restaurant.name}", restaurant_path(current_user.restaurant), class:"chef-restaurant"%></h2>
</div>

<div class="solid-line"></div>

<div class="recipes-container">
    <% @recipes.each do |recipe| %>
      <div class="card-container recipe-card">
        <div class="image-recipe-container">
          <img src="https://insanelygoodrecipes.com/wp-content/uploads/2020/08/Mexican-Beef-Burritos.png" alt="Burrito" class="recipe-image">
        </div>
        <div class="recipe-content">
          <p id="recipe-title"><%=link_to "#{recipe.name}", recipe_path(recipe) %></p>
          <p> Make this recipe available at your restaurant:</p>
          <%= render partial: "dishes/form", locals: { recipe: recipe, dish: @dish ? @dish : Dish.new } %>
          <div class="icon-container">
            <%= link_to recipe_path(recipe), method: :delete, data: { confirm: "Sure about that?"} do %><i class="far fa-trash-alt recipe-icon"></i><% end %>
            <%= link_to edit_recipe_path(recipe) do %><i class="far fa-edit recipe-icon"></i><% end %>
          </div>
        </div>
      </div>
    <% end %>
</div>
