<div class="title-container">
  <i><h1 class="dashboard-title"> Chef <%= (current_user.name).capitalize %>'s Dashboard </h1></i>
  <br>
  <h2><strong>Your Restaurant: </strong><%= link_to "#{current_user.restaurant.name}", restaurant_path(current_user.restaurant), class:"chef-restaurant"%></h2>
</div>

<div class="recipe-line"></div>

<div class="recipes-container">
    <% @recipes.each do |recipe| %>
      <div class="card-container recipe-card" data-controller="hidden-form" data-hidden-form-target="expand">
        <div class="image-recipe-container">
          <img src="https://insanelygoodrecipes.com/wp-content/uploads/2020/08/Mexican-Beef-Burritos.png" alt="Burrito" class="recipe-image">
        </div>
        <div class="recipe-content">
          <div class="recipe-title-container">
            <p id="recipe-title"><%=link_to "#{recipe.name}", recipe_path(recipe) %></p>
          </div>
          <div class="recipe-form-button btn-pka-2" data-action="click->hidden-form#addDish">Make available</div>
          <div class="dish-form" data-hidden-form-target="unhide" style="display: none;">
            <%= render partial: "dishes/form", locals: { recipe: recipe, dish: @dish ? @dish : Dish.new } %>
          </div>
          <div class="icon-container">
            <%= link_to recipe_path(recipe), method: :delete, data: { confirm: "Sure about that?"} do %><i class="far fa-trash-alt recipe-icon fa-lg"></i><% end %>
            <%= link_to edit_recipe_path(recipe) do %><i class="far fa-edit recipe-icon fa-lg"></i><% end %>
          </div>
        </div>
      </div>
    <% end %>
</div>
