<h1> <%= current_user.name.capitalize %>'s Dashboard </h1>

<ul>
  <% @recipes.each do |recipe| %>


  <li><%=link_to "#{recipe.name}", recipe_path(recipe) %>
    <br>
    <br>
    <br>
    <br>
    <%= render partial: "dishes/form", locals: { recipe: recipe, dish: Dish.new } %>
  </li>
  <br>

  <%= link_to recipe_path(recipe), method: :delete, data: { confirm: "Sure about that?"} do %><i class="far fa-trash-alt recipe-icon"></i><% end %>
  <%= link_to edit_recipe_path(recipe) do %><i class="far fa-edit recipe-icon"></i><% end %>

  <% end %>
</ul>

<%= link_to "Add A Recipe", new_recipe_path, class: "btn-pka-2"  %>
<br>
<br>
<%= link_to "Home", root_path, class: "btn-pka-2" %>
