<div class=container>
  <h1><%=@recipe.name%></h1>
    <% @recipe.recipe_ingredients.each do |i| %>
      <li><%= i.ingredient.name %>:   <%= i.ingredient_amount %>g</li>
    <% end %>
<br>
<h3>Method</h3>
<p><%= @recipe.method %></p>
<h3>Total Calories</h3>
<p><%= @recipe.calculate_recipe_calories %> kcal</p>
<br>

<%= link_to edit_recipe_path(@recipe) do %><i class="far fa-edit recipe-icon"></i><% end %>
<br>
<br>
<br>

<%= link_to "Add Ingredient", recipe_recipe_ingredients_path(@recipe), class: "btn-pka-2" %>
<%= link_to "Home", root_path, class: "btn-pka-2" %>
<%= link_to "Back To All Recipes", recipes_path, class: "btn-pka-2"  %>
</div>
