<div class="recipe-show-container">

  <h1 class="recipe-show-title">
    <%=@recipe.name%>
  </h1>

  <div class="recipe-header">
    <div class="recipe-details">
      <div class="recipe-details-item">
        <h3>Ingredients</h3>
          <% @recipe.recipe_ingredients.each do |i| %>
            <li><%= i.ingredient_amount %>g <%= i.ingredient.name %></li>
          <% end %>
          <br>
          <%= link_to "+ Add Ingredient", recipe_recipe_ingredients_path(@recipe), class: "btn-pka-2-sec recipe-show-btn" %>
      </div>

      <div class="vertical-line"></div>

      <div class="recipe-details-item">
        <h3>Macronutrients</h3>
        <p><strong>Total Calories:</strong> <%= @recipe.calculate_recipe_calories.to_i %> kcal</p>
        <p><strong>Carbs:</strong> <%= @recipe.calculate_carb_content %>g (<%= @recipe.calculate_carb_content * 4%> kcal)</p>
        <p><strong>Protein:</strong> <%= @recipe.calculate_protein_content %>g (<%= @recipe.calculate_protein_content * 4 %> kcal)</p>
        <p><strong>Fat:</strong> <%= @recipe.calculate_fat_content %>g (<%= @recipe.calculate_fat_content * 9 %> kcal)</p>
      </div>
    </div>

    <div class="recipe-header-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/ZJy1ajvMU1k?start=87" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

  <div class="method-container">
    <div>
      <div class="method-show-container">
        <h3>Method</h3>
        <%= link_to edit_recipe_path(@recipe) do %><i class="far fa-edit recipe-icon"></i><% end %>
      </div>
      <p><%= @recipe.method %></p>
    </div>
  </div>
</div>
