<%= simple_form_for([recipe, dish]) do |f| %>
  <%= f.hidden_field :restaurant_id, value: current_user.restaurant_id %>
  <%= f.input :description, as: :text %>
  <%# <%= f.input :is_available, as: :select %>
  <%= f.input :photo, as: :file %>
  <%= f.input :price, as: :numeric, input_html: {min: '0', step: 'any', placeholder: '£££'} %>
  <br>
  <br>
  <% if @dish %>
    <p style="color:red;">
    <% @dish.errors.full_messages.each do |message|%>
      <%= message == "Restaurant Dish already exists in that restaurant" ? message : "" %>
    <% end %>
    </p>
  <% end %>
  <%= f.submit 'Submit', class: "btn-pka recipe-submit" %>
<% end %>


<!--
need to add hidden field that has recipe ID from the recipe list element
Could we make this form a pop-up upon clicking a button for each recipe list entry?
-->
