<h1 style="text-align: center">Look at all these dishes. Yum!</h1>

<div class="mx-2">
  <div class="row no-gutters">
    <div class="col">
      <div class="card bg-light p-3">
        <ul>
          <%@dishes.each do |dish| %>
            <li>
              <%= dish.id %> ------
              <%= dish.recipe.name %> ------
              <%= dish.price %> ------
              <%= dish.restaurant.name %> ------
              <%= dish.restaurant.address %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col">
      <div class="card bg-light">
        <div style="width: 100%; height: 600px;"
          data-controller="mapbox"
          data-mapbox-markers-value="<%= @markers.to_json %>"
          data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>
</div>
