<!-- Filters -->
<div class="filter-container">
<!-- allergen filter -->
  <%= form_tag dishes_path, method: :get do %>
  <%= select_tag :query,
    options_from_collection_for_select(Allergen.all, :name, :name),
    class: "form-control"
  %>
<%= submit_tag 'Select Allergens', class: "btn-pka-2" %>
<% end %>


<!-- protein filter -->
<%= form_for dishes_path, method: :get do %>
  <%= text_field_tag :protein,
      params[:protein],
      class: "form-control",
      placeholder: "Enter grams protein..." %>
  <%= submit_tag "Find", class: "btn btn-pka-2" %>
<% end %>


</div>
<div class="map-dishes-container">
  <!-- Dish cards -->
  <div class="dishes-grid-cards">
    <%@dishes.each do |dish| %>
      <div class="dish-card">
        <%= link_to(dish) do %>
          <div class="dish-hero" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= dish.img_url %>)">
            <%= simple_format(dish.recipe.name, {}, wrapper_tag: "div") %>
          </div>
          <div class="dish-infos">
            <div>
              <p>Allergens:
                  <% if dish.allergens %>
                    <% dish.allergens.each do |allergen| %>
                      <img style="width: 24px" src=<%= allergen[0].icon_url %> alt=<%= allergen[0].name %>>
                    <% end %>
                  <% else %>
                    <p>no allergens</p>
                  <% end %>
              </p>
              <p>Calories: <%= dish.calories %> kcal</p>
            </div>
            <h2 class="dish-price"> £<%= dish.price %> </h2>
          </div>
            <%= link_to(dish.restaurant) do %>
              <div class="restaurant-info">
                  <p><i class="fas fa-map-marker-alt"></i> <%= dish.restaurant.name %></p>
              </div>
            <% end %>
          <%# <div class="see-in-detail"> %>
            <%# <p>See in detail</p> %>
          <%# </div> %>
        <% end %>
      </div>
    <% end %>
  </div>
  <!-- Map-->
  <div id="map" style="height: 100vh"
          data-controller="mapbox"
          data-mapbox-markers-value="<%= @markers.to_json %>"
          data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

<br>
<br>
