 <!-- Hero section -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%= @restaurant.img_url %>)">
    <h1><%= @restaurant.name %></h1>
</div>

  <!-- Dishes section -->
  <%# <div class="container">
    <h2 class="text-center">How it works</h2>
    <div class="cards">

      <div class="card">
        <img src="images/apply.svg" alt="">
        <h4>Apply</h4>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>

      <div class="card">
        <img src="images/learn.svg" alt="">
        <h4>Learn to code</h4>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>

      <div class="card">
        <img src="images/product.svg" alt="">
        <h4>Build products</h4>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>

    </div>
  </div> %>

<div class="menu-res-container">
  <!-- Menu -->
  <%# <div class="dish-menu-container"> %>
    <% @restaurant.dishes.each do |dish| %>
      <div class="dish-menu-card">
        <div class="dish-menu-card-img" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://ichef.bbci.co.uk/food/ic/food_16x9_1600/recipes/salad_verte_with_15684_16x9.jpg)">
          <%= simple_format(dish.recipe.name, {}, wrapper_tag: "div") %>
        </div>
        <div class="dish-menu-card-infos">
          <h2>Product name</h2>
          <p>Product description with <strong>relevant info</strong> only.</p>
        </div>
      </div>
    <% end %>
  <%# </div> %>
  <!-- Map-->
  <div id="map" style="height: 100vh"
          data-controller="mapbox"
          data-mapbox-markers-value="<%= @markers.to_json %>"
          data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
