<h1> <%=@restaurant.name%>'s Dishes </h1>

<ul>
  <% @restaurant.dishes.each do |dish| %>
  <li><%= dish.recipe.name %> - <%= dish.description %> - £<%= dish.price %>
      <br>
      <%= dish.is_available ? "This dish is currently available" : "This dish is currently unavailable" %>
      <br>
      <%= link_to "See nutritional breakdown", dish_path(dish) %>
  </li>
  <%end%>
</ul>
