<!DOCTYPE html>
<html>
  <head>
    <title>p-KA {Peekah} - let's you take a peek at any restaurant menu, or dish... in detail!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property="og:site_name" content="pKA - The food-intelligence app that gives you confidence in what you eat">
    <meta property="og:type" content="food">
    <meta property="og:title" content="p-KA - The food intelligence app for restaurants and consumers">
    <meta property="og:description" content="A food-intelligence app that provides nutrition insights for any restaurant dish to create confidence and food safety">
    <meta property="og:url" content="www.pka.ai">
    <meta property="og:img" content="https://cdn-prod.medicalnewstoday.com/content/images/articles/322/322303/selection-of-chinese-food-that-may-cause-chinese-restaurant-syndrome.jpg">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>
  </body>
</html>
